.food-menu-search-form {
    align-items: center;
    background-color: #fff;
    border: 2px solid var(--gray-color);
    border-radius: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 35rem;
}

.food-menu-search-input {
    border: none;
    font-size: 1.5rem;
    outline: transparent;
    margin-left: 1.3rem;
    width: 100%;
}

.food-menu-search-results{
    margin-top: 2rem;
}

.food-menu-empty-products {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.food-menu-loading {
    margin-top: 3rem;
}

.food-menu-loading h2 {
    font-size: 2rem;
}

.food-menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    margin-top: 3rem;
}

.food-menu-options {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

.food-menu-options > * {
    margin: 0.5rem 0;
}

.food-menu-option {
    align-items: center;
    display: flex;
}

.food-menu-option > * {
    margin: 0 1rem
}

.food-menu-pagination {
    margin-top: 3rem;
}

@media screen and (max-width: 1024px){
    .food-menu-items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px){
    .food-menu-items {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 350px){
    .food-menu-search-form{
        width: 100%;
    }
}