.form-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.form-input input {
    background-color: var(--gray-color);
    border: 1px solid transparent;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    padding: 1.6rem;
}

.form-input input:focus{
    border-color: var(--dark-color);
}

.form-input-error-text {
    font-size: 1.4rem;
    color: red;
}