.text-primary {
    color: var(--primary-color);
}

.text-white {
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.btn {
    border: transparent;
    align-items: center;
    display: flex;
    font-size: 1.5rem !important;
    justify-content: center;
    padding: 1.6rem;
}

.btn-dark {
    background-color: var(--dark-color);
    color: #ffffff;
}

.btn-dark:hover {
    color: #ffffff !important;
}

.btn-default {
    background-color: var(--gray-color);
}

.btn-default:hover {
    background-color: #ccc;
    color: var(--dark-color) !important;
    border-color: #cccccc !important;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.btn-primary:hover {
    color: #ffffff !important;
}

.btn-primary-alt {
    background-color: none !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: var(--dark-color) !important
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
    background-color: var(--dark-color) !important;
}

.ant-tabs-tab:hover{
    color: var(--primary-color) !important;
}

.btn-icon  {
    padding: 1.65rem !important;
}

.ant-rate svg {
    font-size: 1.7rem;
}

.btn-white {
    background-color: #ffffff;
}

.text-bold {
    font-weight: bold;
}

.ant-pagination-item-active {
    border-color: var(--primary-color) !important;
}

.ant-pagination-item-active a {
    color: var(--primary-color) !important;
}

@media screen and (max-width: 500px) {
    .ant-drawer-content-wrapper{
        width: 100% !important;
    }
}

.swiper-pagination{
    position: static !important;
    margin-top: 10px;
}

.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 2.5rem !important;
    color: var(--dark-gray-color);
    transform: translateY(-50%);
}

@media screen and (max-width: 1100px){
    .swiper-button-next::after, .swiper-button-prev::after{
        display: none;
    }
}