@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

html:root{
    --primary-color: #06C167;
    --dark-color: #000000;
    --dark-gray-color: #817F82;
    --gray-color: #eeeeee;
    --secondary-color: #F5FBEF;
    --font-family: Raleway, sans-serif;
    font-size: 10px;
}

body {
    color: var(--dark-color);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4em;
}

header, footer {
    display: block;
}

ul {
    list-style: none;
}

a {
    color: var(--dark-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}